* {
    box-sizing: border-box;
    font-family: 'esamanru-OTF';
    caret-color: #6D19E0;
    line-height: 160%;
    letter-spacing: -0.35px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}